body {margin: auto;max-width:50%;
line-height:1.6;
font-size:18px;
color:#444;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased;
color: #E1E1E1;
background-color: #121212;}h1,h2,h3{line-height:1.2}


a{  
         color: #3268bf;  
         }




.topnav {
  overflow: hidden;
  background-color: #333;
   /*position: fixed; Set the navbar to fixed position */
  /*bottom: 0;  Position the navbar at the top of the page */
  /*width: 70%; /* Full width */
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3268bf;
  color: white;
}



table{
    margin: 0.8em 0;
}
table {
    padding: 0;
    word-break: initial;
}
table tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n),
thead {
    background-color: #303030;
}
table th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}
table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}
table th:first-child,
table td:first-child {
    margin-top: 0;
}
table th:last-child,
table td:last-child {
    margin-bottom: 0;